@import url('https://fonts.googleapis.com/css?family=Nunito:400,800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 17px;
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
	color: #5f5f5f;
}

.login-container {
	width: 80%;
	margin: 70px auto;
	background-color: #f0f0f0;
}
.welcome-back {
	background: rgba(65, 66, 78, 0.99);
	color: #f0f0f0;
	height: 30px;
	font-weight: 900;
}
.h1-welcome-back {
	text-align: center;
	line-height: 30px;
	position: relative;
}

.close-button {
	position: absolute;
	top: 7px;
	right: 7px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

.email-username {
	margin: 20px 0px 30px 0px;
	text-align: center;
}

.cta {
	width: 90px;
	height: 40px;
	border: none;
	font-weight: bold;
}
.cta:hover,
.close-button {
	cursor: pointer;
}

.email-cta {
	background: rgba(65, 66, 78, 0.99);
	color: #f0f0f0;
}
.username-cta {
	margin-left: -5px;
	background-color: #f0f0f0;
	border: 1px solid rgba(65, 66, 78, 0.99);
}
table {
	margin: 0 auto;
}
label {
	font-weight: bold;
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='submit'] {
	width: 246px;
	height: 40px;
	padding: 5px;
	outline: none;
	border-radius: 2px;
}

input[type='text'],
input[type='email'] {
	margin-bottom: 17px;
}
.display-none {
	display: none;
}
.username-tr {
	display: none;
}

.remember-me {
	margin-top: 8px;
	display: inline-block;
}

input[type='submit'] {
	margin-top: 17px;
	background-color: #ff7800;
	border: none;
	color: #fff;
	font-weight: bold;
}

.info {
	width: 80%;
	margin: 15px auto;
	text-align: center;
}

.recommendation-info {
	margin-top: 30px;
	padding-bottom: 30px;
}

@media screen and (min-width: 700px) {
	.login-container {
		width: 65%;
	}

	.welcome-back {
		height: 40px;
	}
	.h1-welcome-back {
		line-height: 40px;
		position: relative;
	}

	.close-button {
		position: absolute;
		top: 12px;
		right: 12px;
	}
	.email-username {
		margin-top: 40px;
	}

	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='submit'] {
		width: 300px;
		height: 50px;
		padding: 8px;
	}
}

@media screen and (min-width: 1000px) {
	.login-container {
		width: 65%;
	}

	.welcome-back {
		height: 50px;
	}
	.h1-welcome-back {
		line-height: 50px;
		position: relative;
		font-size: 25px;
	}

	.close-button {
		position: absolute;
		top: 13px;
		right: 12px;
		height: 23px;
		width: 23px;
	}
	.email-username {
		margin-top: 40px;
	}

	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='submit'] {
		width: 420px;
		height: 60px;
		padding: 10px;
	}

	.forgot-password {
		display: inline-block;
		margin-left: 42px;
	}

	input[type='submit'] {
		margin-top: 25px;
	}
}
