body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#signup {
    background: #F0F0F0;
}
.modal-header {
    background: #434450;
}
.modal-header h5 {
    text-align: center;
}
.modal-title {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-transform: capitalize;
}
.modal-body{
    background-color: #F0F0F0;
}
.modal-footer {
    background-color: #F0F0F0;
}
.form-control{
    background-color: #FFFFFF;
    border: 0.5px solid #CCCCCC;
    box-sizing: border-box;
    border: none;
}
#signup-btn {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.15em;
    color: #FFFFFF; 
    background-color: #FF7800;
}
.word1 h6{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #5F5F5F;
}
.word2 h6 {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #5F5F5F;

}